<article>
    <h3>{{ article_title }}</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto obcaecati laboriosam molestiae. Deserunt ipsum ipsa blanditiis! Exercitationem voluptates iste quibusdam debitis consequatur impedit est odio quaerat cumque. Vitae, alias repellat.</p>
</article>