<p
  class="flex items-center justify-center h-10 px-4 text-sm font-medium text-white bg-indigo-600 sm:px-6 lg:px-8"
>
  {{ section.settings.announcement_bar }}
</p>
{% schema %}
{
  "name": "Announcement Bar",
  "settings": [
    {
      "type": "text",
      "id": "announcement_bar",
      "label": "Announcement Bar",
      "default": "Get free delivery on orders over $100"
    }
  ]
}
{% endschema %}
